.selects .container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 0.5rem;
    cursor: pointer;
}

@media screen and (max-width: 740px) {
    .selects .container {
        grid-template-columns: 1fr;
    }
}