.footer {
    width: 100%;
    padding: 2rem 0;
    background-color: #000;
    color: #fff;
}

.footer h2 {
    color: red;
    font-family: 'Libre Baskerville', serif;
    cursor: pointer;
}

.footer .top, .bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer .social {
    display: flex;
    justify-content: space-between;
    width: 280px;
}

.footer .icon:hover {
   color: #fff;
   cursor:pointer;
   transform:scale(1.5);
   transition: 0.3s;
}

.footer .left, .right {
    display: flex;
    align-items: center;
}

.footer ul {
    display: flex;
}

.footer li {
    padding: .5rem;
}


@media screen and (max-width: 1140px) {
    .footer ul {
        flex-direction: column;
    }
}